.Footer {
    padding-top: 11.8rem;
    padding-bottom: 10rem;
    background: linear-gradient(183deg, #67C3F3 -8.57%, #5A98F2 82.96%);

    &__container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 2rem;
    }

    &__col {
        grid-column: 5 span;
    }

    &__logo {
        display: inline-block;
        color: var(--white-color);
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 1.7rem;

        span {
            display: inline-flex;
            margin-right: 1.2rem;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
            background-color: var(--white-color);
            color: var(--light-blue-color);
            font-size: 2.6rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    &__text {
        margin: 0;
        margin-bottom: 3rem;
        color: var(--white-color);
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 300;
        line-height: 2.8rem;
    }

    &__copy {
        font-size: 1.6rem;
    }

    &__right {
        grid-column: 7 span;
        display: flex;
        justify-content: space-between;
        gap: 8rem;
        padding: 0 2rem;
    }

    &__nav {


        &Title {
            margin: 0;
            color: var(--white-color);
            font-size: 2rem;
            font-style: normal;
            font-weight: 700;
            line-height: 6rem;
        }

        &List {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        &Link {
            color: var(--white-color);
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 300;
            line-height: 3.8rem;

            &:hover {
                text-decoration: underline;
            }
        }

    }
}